.banner{
    width: 1000px;
    margin: 0 auto;
}
.title1{
    width: 1000px;
    margin: 0 auto;
    position: relative;
}
.titlebg{ 
    background: url(../images/bg1.jpg) no-repeat;
    height: 120px;   
}
.title1>p{
    height: 100%;
    text-align: center;
    font-family: "Microsoft YaHei";
    padding: 0 10px;
    position: absolute;
    left: 42.5%;
    top:0;
    line-height: 120px;
    font-size: 32px;
    color: rgb(62, 62, 62);
}
.contant1{
    width: 1080px;
    margin: 0 auto;
}
.content{
    display: block;
}
.content>li{
    width: 495px;
    height: 452px;
    margin-right: 10px;
    margin-bottom: 10px;
    background: #fff;
    float: left;
    position: relative;
}
.list{
    margin-left: 28px;
}
.listboxs{
    padding: 30px 0 0 30px;
    position: rielative;
    text-decoration: none;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
}
.listboxs>div{
    font-size: 24px;
    color: #000;
    width: 350px;
}
.listboxs>p{
    font-size: 20px;
    color: #000;
    margin-top: 20px;
}
.listboxs>span{
    width: 84px;
    height: 34px;
    font-size: 18px;
    line-height: 34px;
    background: #000;
    position: absolute;
    top: 40px;
    right: 30px;
    color: #fff;
    display: block;
    text-align: center;
}
.item{
    width: 202px;
    height: 316px;
    float: left;
    margin-right: 30px;
}
.item>div>img{
    width: 202px;
    height: 270px;
    display: block;
}
.item>div{
    text-align: center;
    padding-top: 20px;
}
.pic{
    font-size: 18px;
    color: #DD2828;
    margin-right: 8px;
}
.prepic{
    font-size: 14px;
    color: #999;
    text-decoration: line-through;
}
.shoplist{
    width: 1040px;
    height: auto;
    margin: 0 auto;
    position: relative;
    margin-top: -100px;
}
.shopbox{
    width: 1020px;
    height: auto;
    margin: 0 auto;
    position: relative;
    padding-top: 20px;
    background: #fff;
    margin-top: -30px;
}
.shoptoday>h3{
    width: 1000px;
    height: 80px;
    overflow: hidden;
    text-align: center;
    margin-bottom: 20px;
    margin-left: 10px;
    font-size: 24px;
    line-height: 28px;
    background: url(../images/bg2.ipg.jpg);
    padding-top: 25px;
    box-sizing: border-box;
}
.hone{
    padding-top: 0;
}
h3{
    padding-top: 20px;
}
.listbox{
    width: 320px;
    height: 232px;
    overflow: hidden;
    float: left;
    cursor: pointer;
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: 10px;
}
.boxpic{
    width: 300px;
    height: 40px;
    overflow: hidden;
    padding: 0 10px;
    line-height: 40px;
    background-color: #f2f2f2;
}
.boxpic>span{
    width: 300px;
    height: 40px;
    overflow: hidden;
    padding: 0 10px;
    line-height: 40px;
    background-color: #f2f2f2;
}
.boximg{
    position: relative;
    width: 320px;
    height: 192px;
    overflow: hidden;
}
.boximg::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
}
.boximg>div{
    text-align: center;
    vertical-align: middle;
    color: #fff;
    font-size: 14px;
    line-height: 192px;
}
.boximg>span{
    display: none;
}
.pop-css{
    width: 320px;
    height: 192px;
    background: rgba(0,0,0,.5);
    position: absolute;
    left: 0;
    top: 0;
    z-Index: 999;
}
.boximg>img{
    display: block;
}
.boxpic>p{
    display: block;
    float: right;
    color: #db2726;
}
.boxpic>p>span{
    font-size: 18px;
}
